**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/Icon
**/._Icon
**/._*
**/.Spotlight-V100
**/.Trashes
**/test.*
**/Icon?
**/Icon\r
server.txt
audio_samples/*
extract_features.py
audio_features.csv
dataset_labels.csv
baseline.ipynb